h1 {
    text-align: center;
    margin-bottom: 20px; 
}

.goals-container {
    background-color: hsl(215, 85%, 68%);
    padding: 20px; 
    margin: 20px auto; 
    max-width: 1500px; 
    border-radius: 10px; 
}

table {
    margin: 0 auto; 
    border: 2px solid black;
    border-collapse: collapse;
    background-color: white;
    width: 100%; 
}

td, th {
    border: 2px solid black;
    padding: 10px; 
    text-align: center;
}

th {
    background-color: hsl(215, 85%, 80%); /* Differentiates header background */
    font-weight: bold;
}
